html{
    box-sizing: border-box;
    font-size: 100%;
}


*,*::before,*::after{
    box-sizing: inherit;
}
body{
    margin:0;
    padding:0;
}
h1{
    text-align: center;
    font-size: 2rem;
    padding: 0 3 rem;
}
#map{
    height:60vh;
}